
  <a>
    <img src="../../assets/plus.png" width="23" height="23" class="d-inline-block align-top mr-1" alt="" data-toggle="modal" data-target="#exampleModalCenter">
  </a>
  
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">New Group</h5>

        </div>
        <div class="modal-body">
            <form class="text-center border border-light p-5" action="#!">            

              <div class="row m-0 p-0">
                <div class="col-8 m-0 p-0">
                  <input  [(ngModel)]="group.GroupName"  name="GroupName" type="text" id="" class="form-control mb-4" placeholder="Name">
                </div>
               
                <div class="col-sm m-0 p-0 mt-1">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox"  [(ngModel)]="group.IsChannel" name="ischannel" class="custom-control-input text-left" id="defaultUnchecked">
                    <label class="custom-control-label" for="defaultUnchecked">Channel</label>
                  </div>
                </div>

              </div>
        
                <ng-multiselect-dropdown
                [placeholder]="'Users'"
                [data]="SearchUsers"
                [(ngModel)]="selectedItems"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onFilterChange)="onFilterChange($event)"
                name="searchusers"
                >
                </ng-multiselect-dropdown>
 
                <button class="btn btn-info my-4 btn-block" type="submit" (click)="createGroup()">Create</button>          
           </form>
        </div>
      </div>
    </div>
  </div>
