#groupinfolink{
    margin-top: 4px;
    font-size: 20px;
}

#groupName{
    font-size: 30px;
    color:burlywood;
}

.isadmin{
    color:burlywood;
}

#matesdiv{
    max-height: 120px;
}

#matesdiv::-webkit-scrollbar{
    width:1px;
  }
  