<a data-toggle="modal" data-target="#friendinfo" id="groupinfolink" *ngIf="chatContent!==null">
   {{chatContent.name}}
  </a>
  
  <div class="modal fade" id="friendinfo" tabindex="-1" role="dialog" aria-labelledby="friendinfoLabel" aria-hidden="true" *ngIf="chatContent!==null">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="chatContent.type==1" >Group Info</h5>    
          <h5 class="modal-title" id="exampleModalLabel" *ngIf="chatContent.type==2" >Channel Info</h5>    

          <button id="groupclose" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&#10006;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row m-0 p-0">
            <div class="col-1">
  
            </div>
            <div class="col-4 m-0 p-0 text-right"  id="friendinfophoto">
              <a (click)="photoCliked()" [class.remhand]="userservice.currentUser.value.id!==chatContent.adminId">
                <img [src]="getPhoto()" id="groupinfophoto" width="70" height="70" for="group_photo_id">
              </a>
              <input *ngIf="userservice.currentUser.value.id==chatContent.adminId" style="display: none;" type="file" id="group_photo_id" accept=".jpg,.jpeg,.png" (change)="photoselected($event)">
            </div>
            <div class="col-sm m-0 p-0 mt-3 ml-4 text-left" id="groupName">
              <p>
               {{chatContent.name}}
              </p>
            </div>
          </div>
          <hr>
          <div class="row m-0 p-0 pl-1 pt-1" id="matestitle">

            <div class="col-sm m-0 p-0">
              <h4 *ngIf="chatContent.type==1">Group Mates :</h4>
              <h4 *ngIf="chatContent.type==2">Channel Mates :</h4>       
            </div>
         </div>
         
          <div class="overflow-auto m-0 p-0" id="matesdiv">
            <div class="row m-0 p-0 mt-3" id="friendinfoemail" *ngFor="let user of chatContent.users">
              <div class="col-5 text-right">
                <img [src]="GetUrl(user.photoName)" id="userinfophoto" width="40" height="40">
              </div>
              <div class="col-sm mt-1" [class.isadmin]="user.id==chatContent.adminId">
               <h5>{{user.nickName}}</h5>
              </div>  
              <div class="col-sm" *ngIf="user.id==chatContent.adminId">
                <img src="../../assets/admin.png" width="30" height="30">
              </div>
              <a (click)="leaveGroup(user.id)" class="delIcon" *ngIf="userservice.currentUser.value.id==chatContent.adminId || user.id==userservice.currentUser.value.id">
                <span aria-hidden="true">&#10006;</span>
              </a>    
            </div>  
          </div>
          
        </div>
        <div class="modal-footer">
          <app-delete-check [id]="chatservice.currentChatId" *ngIf="userservice.currentUser.value.id==chatContent.adminId"></app-delete-check>
        </div>
      </div>
    </div>
  </div>
  